body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(15, 30px);
    gap: 1px;
    border: 1px solid rgb(38, 38, 38);
    position: relative;
    overflow: hidden;
  }
  
  .grid-item {
    width: 30px;
    height: 30px;
    border: 1px solid #3b3b3b;
    background-color: black;
  }
  
  .falling {
    animation: raindrop 2s linear infinite;
  }
  
  @keyframes raindrop {
    0% {
      transform: translateY(-150px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(550px);
      opacity: 0;
    }
  }
  
  .subgrid-cell {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  